* {
    margin: 0;
    box-sizing: border-box;
}

.awesome {
    text-align: center;
    margin: 107px auto 0px;

}

.description {
    font-size: 14px;
    color: #86878B;
    font-family: 'Open Sans', sans-serif;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
}

.line {
    width: 64px;
    height: 2px;
    background-color: orange;
    margin: 30px auto;
}

.card__image {
    width: 70px;
    height: 70px;
    border: 2px solid orange;
    border-radius: 50%;
    margin: 0 auto 30px;    
}

.light {
    background-image: url(/image/light.png);
    background-repeat: no-repeat;
    background-position: center;

}

.keyboard {
    background-image: url(/image/keyboard.png);
    background-repeat: no-repeat;
    background-position: center;

}

.storm {
    background-image: url(/image/storm.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
}

.card__title {
    margin-bottom: 30px;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    display: block;

}

.card {
    display: inline-block;
    width: 30%;
    margin-bottom: 102px;
}

.m-lr-30 {
    margin: 0% 3%;
    margin-bottom: 102px;
}

.awesome__header {
    margin-bottom: 80px;
}

.bottom {
    background-image: url(/image/city.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    padding-top: 76px;
}

.text__stylish {
    font-size: 36px;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
}

.line2 {
    width: 64px;
    height: 2px;
    background-color: white;
    margin: 23px auto;
}

.text {
    opacity: 0.8;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    margin: 0px auto 33px;
}

.button {
    width: 135px;
    height: 42px;
    margin: 0px auto 63px;
    color: white;
    font-size: 15px;
    background: transparent;
    border-color: white;
}

.hover:hover {
    cursor: pointer; 
}

.background {
    background-color: black;
    padding: 39px 543px 15px 541px;
}

.facebook {
    fill: wheat;
    width: 35px;
    height: 23px;
    margin: 0px 5px;
}

.end {
    margin-bottom: 15px;
}

.text2 {
    color: #FFFFFF;
    margin-bottom: 15px;
    font-size: 12px;
    
}